<div class='footer grid-item'><footer>
    <p>Esports Gaming - Copyright © 2021</p>
<a href="#"><img class="grid-item-logo" src="/img/youtube.png" alt=" sponsor logo" width="50" height="50"></a>
    <a href="#"> <img class="grid-item-logo" src="/img/twitter2.png" alt=" sponsor logo" width="50" height="50"></a>
     <a href="#"><img class="grid-item-logo" src="/img/instagram.png" alt=" sponsor logo" width="50" height="50"></a>
     <a href="#"><img class="grid-item-logo" src="/img/face.png" alt=" sponsor logo" width="50" height="50"></a>
    </footer></div>
