<div class="main">
    <p><a href="/admin/createOrg">Add Organization</a><br></p>
     <p><a href="/admin/updateOrgForm">Update Organization</a><br></p>
    <div class = "grid-dis-admin">
 {{#each org}}
<div>{{this.name}}</div>  <a id="delete"  href='/admin/deleteOrg/{{this._id}}'>delete</a>      
 {{/each}}
     </div>
</div>