<div class="main">
    <h1>Добавление пользователя</h1>
     <form action="postNews" method="POST">
        <label>Name</label>
        <input name="name" /><br><br>
        <label>Text</label>
        <input name="text"   /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/news">News</a>
</div>