<div class="main">
    
     <form action="postNews" method="POST">
        <label>Disciplin:</label><br>
        <select  name="disciplines">
    {{#each disciplines}}
    <option value={{this._id}}>{{this.name}}</option>
    {{/each}}
  </select><br><br>
        <label>Name:</label><br>
        <input name="name" /><br><br>
        <label>Img:</label><br>
        <input type="text" name="img"><br>
          <label>Text:</label><br>
        <textarea  name="text" rows="10" cols="30" >News text</textarea><br><br>
        
        
  
        <input type="submit" value="Отправить" />
     </form>
     <a href="/news">News</a>
</div>