<div class='main'>
    
     <div  class="grid-team-item ">
     <div><a href="/auth/getuser">Register</a><br></div>
    
     
     <div>
      <a href="/admin/newsList">News</a><br></div>
    <div> 
     
      <a href="/admin/teamsList">Teams</a><br>
     </div>
    <div>
    
     <a href="/admin/playersList">Players</a><br>
     </div>
<div> <a href="/admin/matchesList">Matches</a><br>
</div>
<div> <a href="/admin/achievementsList">Achievements</a></div>
<div><a href="/admin/partnersList">Partners</a><br></div>
<div> <a href="/admin/disciplinesList">Disciplines</a></div>

<div><a href="/admin/orgList">Organization</a><br></div>
<div> <a href="/load">Upload file</a></div>
     <div><a href="/logout">Log out</a><br></div>
</div>
</div>
 <script>localStorage.setItem('test', 1);</script>
    
