<div class='main'>


<form action = '/auth/login' method='post'>
<p>Fill in the form below to sign in!</p>
<p>
<input type= 'email' name='email' placeholder='Email' /> 
</p> 
<input type='password' name='password' placeholder='Password' /> 
<p>
    
<p>{{message}}</p>
<input type='submit' value='Sign in' />
</p>
</form>
</div>
