 <div class=" main">
 <p> <a href="/auth/register">Register</a> </p>
    
     <div class="grid-dis-admin">
         {{#each user}}
            <div>{{this.email}} |   {{this.roles}}</div> <a id="delete" href='/auth/delete/{{this._id}}'>delete</a>
         {{/each}}
     </div>
     </div>