.grid-achievements-admin{
    display: grid;
     grid-template-columns: 120px 100px 300px 200px 200px 100px;
    text-align: justify;
    color:rgb(253, 253, 253);
    grid-row-gap: 10px;

  }
  .grid-achievements-admin > div{
  background-color: rgb(46, 46, 46);
  padding: 15px;
  
  }
